fastapi
uvicorn
sqlalchemy
psycopg2-binary
qdrant-client
neo4j
python-dotenv
PyYAML
SQLAlchemy
asyncpg
pydantic-settings
greenlet
watchdog
langchain
langgraph
requests
sentence-transformers
python-multipart